@using Store_Example.Application.Services.Products.Queries.GetAllProductForAdmin
@model ResultGetAllProductForAdminDto
@using LazZiya.TagHelpers
@addTagHelper *, LazZiya.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h5 class="mb-0">
                لیست محصولات
            </h5>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            نام محصول
                        </th>
                        <th scope="col">
                            برند
                        </th>
                        <th scope="col">
                            توضیحات
                        </th>
                        <th scope="col">
                            دسته بندی
                        </th>
                        <th scope="col">
                            موجودی
                        </th>
                        <th scope="col">
                            قیمت
                        </th>
                        <th scope="col">
                            عملیات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductForAdminDtos)
                    {

                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Brand</td>
                            <td>@item.Description</td>
                            <td>@item.Category</td>
                            <td>@item.Inventory</td>
                            <td>@item.Price</td>
                            <td>
                                <input type="button" value="حذف" class="btn btn-danger m-2" onclick="DeleteProduct('@item.Id')" />
                                <input type="button" value="اطلاعات بیشتر" class="btn btn-warning m-2"  />




                                <!--end row-->
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="  text-center">
    <paging page-no="Model.CurrentPage"
            page-size="Model.PageSize"
            total-records="Model.RowCount">
    </paging>

</div>
@section Scripts
{
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>

        function DeleteProduct(UserId) {
            swal.fire({
                title: 'حذف محصول',
                text: "کاربر گرامی از حذف محصول مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ، کاربر حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = {
                        'id': UserId,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }

    </script>

}